<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>
            <a href="#">Django Girls Blog</a>
        </h1>
    </div>
    <div>
        <p>published: 2022/08/01</p>
        <h2>
            <a href="#">My first post</a>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem mollitia dolore modi vitae quia,
            architecto quaerat</p>
    </div>
    <div>
        <p>published: 2021/07/21</p>
        <h2>
            <a href="#">My second post</a>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi perferendis dolores dolor? Saepe, magni
            non tempora minus laborum consequatur.</p>
    </div>
</body>

</html>